<rss xmlns:atom="http://www.w3.org/2005/Atom" version="2.0">
<channel>
<item>
<author>Dmytro Galitsky (melles1991)</author>
<version>v1.7</version>
<title>OxyAdditional</title>
<description>Magisk module that turns your Android phone into a OnePlus device.</description>
<pubDate>03 Feb 2021</pubDate>
<link>https://www.craft-rom.ml/MAGISK-OxyAdditional/</link>
</item>
</channel>
</rss>
